html,
body {
    scroll-behavior: smooth;
}

.skeleton {
    height: 100vh;
}

#hero {
    height: 700px;
    width: 100%;
}

img {
    height: 100% !important;
    width: 100% !important;
}

.divider {
    margin: 50px 0;
}

#services,
#about,
#book {
    margin: 170px 0;
}

.service-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;
    gap: 10px;
}
#about {
    display: flex;
}

#about > * {
    flex: 1;
}

#book {
    background-color: #25273e;
    color: #fff;
    padding: 55px 12px;
}
