/* Add here all your CSS customizations */
.navbar {
    padding: 25px 0 !important;
}

.owl-stage-outer {
    height: 100% !important;
}

.img-thumbnail {
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
    border: none !important;
}

.service.card {
    width: 200px !important;
    height: 250px !important;
}

#services .card-body {
    background-color: #fd7e14 !important;
    color: #fff;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.carousel-inner,
.carousel-item,
.carousel-item.active {
    height: 100% !important;
    width: 100% !important;
}
